body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  --white: #fafafa;
  --blue: #3181bb;
  --primary-dark: #6a0080;
  --primary: #9c27b0;
  --primary-light: #cf5ce2;
  --secondary: #2196f3;
  --secondary-dark: #0069c0;
  --secondary-light: #6ec6ff;
  --third-color: #b2ebf2;
  --dark-red: #7f0000;
  --light-red: #ffcdd2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "Vollkorn";
}
h2 {
  margin: 15px 0 30px;
  letter-spacing: 1px;
}
h3 {
  margin-bottom: 20px;
  margin-top: 10px;
  letter-spacing: 0.9px;
}
h4 {
  padding-top: 30px;
  margin: 0 0 20px;
  letter-spacing: 0.8px;
  border-bottom: 1px solid var(--primary-dark);
  padding-bottom: 12px;
}
p {
  margin-bottom: 1.5rem;
  letter-spacing: 0.3px;
}
a {
  color: var(--secondary-dark);
}
a:hover {
  color: var(--secondary);
}
.alert .material-icons {
  position: relative;
  top: 6px;
}
.alert-primary {
  background-color: var(--third-color);
}
.alert-primary .material-icons {
  color: var(--secondary-dark);
}
.alert-danger {
  color: var(--dark-red);
  background-color: var(--light-red);
}
.alert-danger .material-icons {
  color: var(--dark-red);
}
.alert-danger a {
  color: #000;
}
.navbar {
  padding: 0.9rem 1rem;
  border-top: 24px solid var(--primary-dark);
}
.navbar .material-icons {
  top: 2px;
}
.primaryTitle {
  top: 3px;
  font-size: 26px;
  position: relative;
  margin: 0;
  letter-spacing: 2px;
}
.primaryTitle a {
  color: inherit;
  text-decoration: none;
}
.primaryTitle .ripple-container {
  display: none;
}
.bmd-layout-content {
  /* height: 89vh;
  min-height: 89vh; */
  padding-top: 1.8rem;
}
.navbar-dark .primaryTitle,
.navbar-dark .material-icons {
  color: var(--white, white);
}
.navbar-dark .navbar-toggler {
  color: hsla(0, 0%, 100%, 0.5);
  border-color: hsla(0, 0%, 100%, 0.5);
}
.figure {
  display: block;
  text-align: center;
}
.figure-caption {
  text-align: center;
}

.bmd-layout-drawer > .list-group .list-group-item {
  padding-right: 2.5rem;
  padding-left: 1.5rem;
}

.bmd-layout-drawer > header .navbar-brand {
  padding-left: 0.5rem;
}
.card {
  font-size: 1rem;
}
.card .card-header {
  background: var(--blue);
  color: var(--white, white);
}
.card .card-header span {
  float: right;
  font-size: 25px;
  position: absolute;
  right: 14px;
  top: 8px;
}
.listWithPadding strong {
  display: inline-block;
  margin: 15px 0 7px;
}
.listWithPadding li:first-child strong {
  margin-top: 0;
}

.listWithPadding ul {
  margin-top: 20px;
}
footer {
  text-align: center;
  border-bottom: 15px solid var(--primary-dark);
  padding: 15px 15px 15px;
  background: var(--primary);
  color: var(--white);
  font-size: 14px;
}

.pagination {
  display: block;
  margin: 25px 0;
}
.forward {
  float: right;
}
.backward {
  display: inline-block;
}
.page-item .page-link {
  padding: 0 40px;
}
.pagination .page-item .page-link {
  padding: 9px 14px;
  border-radius: 0.3rem;
}
.paginationDesc {
  margin: 0 5px;
}

.page-link {
  color: var(--white);
  background-color: var(--secondary-dark);
  border-color: var(--secondary-dark);
}
.page-link:hover {
  color: var(--white);
  text-decoration: none;
  background-color: var(--secondary);
  border-color: var(--secondary-dark);
}
.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 105, 192, 0.25);
}
pre[class*="language-"] {
  margin-bottom: 20px;
}
pre[class*="language-"] > code {
  border-left: 10px solid var(--secondary-dark, lightblue);
  box-shadow: -1px 0px 0px 0px var(--secondary-dark, lightblue),
    0px 0px 0px 1px #dfdfdf;
}
.snackbar-content {
  background-color: var(--secondary-dark, lightblue);
}
.navbar-brand h5 {
  font-size: 22px;
  margin: 30px 0 0;
  padding: 0;
}
.bg-primary {
  background: var(--primary) !important;
}
.btn.btn-raised.btn-primary,
.btn.btn-raised.btn-primary:focus,
.btn.btn-raised.btn-primary:active {
  background: var(--secondary-dark);
}
.btn.btn-raised.btn-primary:hover {
  background: var(--secondary) !important;
}
#InstallPWA {
  display: none;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
#enableNotifications {
  margin: 0 auto 15px;
  display: none;
}
.bmd-layout-canvas {
  max-height: 100vh;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
  position: relative;
  top: -3px;
}

#create-post {
  text-align: center;
}

#create-post video,
#create-post canvas {
  width: 512px;
  max-width: 100%;
  display: none;
  margin: auto;
}

#create-post #location-loader,
#customMap,
#capture-btn {
  display: none;
}
#capture-btn {
  margin-top: 12px;
}
#location-loader {
  margin: 10px 0 12px;
}
#customMap img {
  max-width: 100%;
  margin-bottom: 20px;
}
#location-btn {
  margin: 10px 0 20px;
}

.btn-secondary {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}

.floating-button {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 20px 20px 0;
}
#create-post {
  z-index: 1001;
  position: fixed;
  width: 100%;
  min-height: calc(100vh - 56px);
  overflow-y: scroll;
  bottom: 0;
  top: 56px;
  padding-top: 30px;
  background: var(--white);
  text-align: center;
  transform: translateY(100vh);
  transition: transform 0.3s;
}
#create-post video,
#create-post canvas {
  width: 512px;
  max-width: 100%;
  display: none;
  margin: auto;
}
#create-post #pick-image {
  display: none;
  margin: 15px 0;
}
#create-post #capture-btn {
  margin: 10px auto;
}
#close-modal-btn {
  top: 0;
  position: relative;
  margin-bottom: 60px;
}
.cardWrap {
  max-width: 33.33333%;
  flex: 0 0 33.33333%;
  display: inline-block;
  min-height: 1px;
  padding: 0 15px;
  margin-bottom: 30px;
}
#syncForm {
  max-width: 400px;
  margin: 0 auto 15px;
}
video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h4 {
    padding-right: 50px;
    display: inline-block;
  }
  pre[class*="language-"] {
    margin-bottom: 30px;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .cardWrap {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .navbar {
    border: none;
  }
  .cardWrap {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .pagination {
    display: flex;
  }
}
